<!DOCTYPE html>
<html>
<head>
    <title>Hello GUys</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/custom.css")"/>
</head>
<body>
	@RenderBody()
</body>
</html>